.navigation {
  border-bottom: 0.1rem solid var(--rq-light-gray);
  background-color: var(--white);
  z-index: 1036 !important;
}

.navBrand {
  font-size: 2rem !important;
  font-weight: 700;
  color: var(--rq-amber) !important;
}
